@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #27a776;
  --secondary-color: #7a7a7a;
}

.font-secondary {
  font-family: 'Roboto Mono', monospace;
}

.text-secondary {
  color: var(--secondary-color);
}

.font-hero {
  font-family: 'Michroma', sans-serif !important;
}

.hero-bg {
  @apply relative w-full h-screen overflow-x-hidden flex items-center;
  background-image: url(/my-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-bg::after {
  content: '';
  @apply absolute w-full h-full left-0 top-0 bg-black;
  opacity: 0.8;
}

.nav-link li {
  position: relative;
  transition: 0.2s all linear;
  font-family: 'Roboto Mono', monospace;
  color: #7a7a7a;
}

.nav-link li::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #27a776;
  bottom: -2px;
  right: 0;
  transition: 0.3s all ease-in-out;
}

.nav-link li:hover::after {
  width: 100%;
  left: 0;
}

.nav-link li:hover {
  color: white;
}

.active-nav {
  color: white;
  padding-bottom: 3px;
  border-bottom: 1px solid var(--primary-color);
}

.social-links a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #242323;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all linear;
}

.social-links a:hover {
  background-color: var(--primary-color);
  color: white;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

/* header */

.header {
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  @apply sticky top-0;
}


/* about section */
.logo img {
  filter: invert(1);
  opacity: 0.5;
}

.tech-logo {
  position: relative;
}

.tech-logo::after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px dashed var(--primary-color);
  right: -125px;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: var(--primary-color) !important;
  margin-inline: 5px;
}

.card {
  background: linear-gradient(rgb(16, 185, 129), rgb(0, 0, 0));
  background-size: 100% 200%;
  background-position: bottom;
  transition: background-position 0.5s ease-in-out;
  border-color: var(--primary-color);
}

.card:hover {
  background-position: top;
}

/* resume section */

.resume-section {
  background-image: url(../public/my-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.glass {
  background: rgba(14, 14, 14, 0.9);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.685);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid #27a77664;
}

.dot {
  position: relative;
}

.dot::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--primary-color);
  border-radius: 50%;
  top: 0;
  left: -8px;
}